.create-order-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.steps-progress {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.step {
  flex: 1;
  padding: 10px;
  text-align: center;
  background-color: #e0e0e0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  white-space: normal;
  overflow: visible;
  text-overflow: initial;
  margin-right: 10px; /* Ajoute un espace entre chaque étape */
}

.step:last-child {
  margin-right: 0; /* Supprime la marge pour la dernière étape */
}

.step.active {
  background-color: #28a745;
  color: white;
  font-weight: bold;
}

.step:not(.active):hover {
  background-color: #d4d4d4;
}

.step-content {
  margin-bottom: 20px;
}

.step-actions {
  display: flex;
  justify-content: flex-end;
}

.next-button {
  background-color: #28a745;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #218838;
}

.form-group {
  margin-bottom: 20px;
}

.recap-section h4 {
  margin-bottom: 10px;
}

.recap-section p,
.recap-section ul {
  margin: 0;
  padding: 0;
}
