.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  display: flex;
  flex: 1;
  position: relative;
}

.menu {
  width: 200px;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  bottom: 0;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 240px;  /* Ensure content is not under the menu */
  overflow-y: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  width: calc(100% - 200px);  /* Adjusted to ensure it doesn't overlap with the menu */
  left: 240px;  /* Align with the content area */
}
