.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  display: flex;
  flex: 1;
  position: relative;
}

.menu {
  width: 200px;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  bottom: 0;
}

.content {
  flex: 1;
  padding: 20px 0 80px 0;
  overflow-y: auto;

  @media (min-width: 1024px) {
      .content {
        margin-left: 240px;
      }
    }
}

.footer {
  position: fixed;
  bottom: 0;
  width:100vw;  
z-index: 0;
    @media (min-width: 1024px) {
           width: calc(100% - 200px); 
            left: 240px;
      }
    
}



