.header {
  background-color: #ffffff;
  padding: 0 20px; /* Réduire le padding */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between; /* Distribuer les éléments de chaque côté */
  align-items: center; /* Centrer verticalement les éléments */
  width: 100%; /* Prendre toute la largeur de la page */
  height: 60px; /* Fixer une hauteur constante pour le header */
  position: fixed; /* Position fixe pour rester en haut */
  top: 0;
  left: 0;
  z-index: 1000; /* S'assurer que le header est toujours au-dessus du contenu */
  overflow: hidden; /* Empêcher les éléments de dépasser */
}

.logo-container {
  display: flex;
  justify-content: flex-start; /* Alignement à gauche */
  align-items: center;
}

.logo {
  height: 40px; /* Taille réduite du logo */
}

.header-right {
  display: flex;
  margin-right: 25px;
  align-items: center;
  gap: 30px; /* Augmenter l'espacement entre les icônes */
}

.header-icon-container {
  display: flex;
  flex-direction: column; /* Aligner les icônes et les labels verticalement */
  align-items: center; /* Centrer les éléments */
  position: relative;
}

.header-icon {
  width: 16px; /* Taille réduite des icônes */
  height: 16px; /* Taille réduite des icônes */
  cursor: pointer;
  /* border: 2px solid #111111; */ /* Retirer le contour */
  /* border-radius: 50%; */ /* Retirer l'arrondi si nécessaire */
}

.icon-label {
  font-size: 12px; /* Ajuste la taille du texte */
  color: #111111; /* Couleur du texte */
  margin-top: 4px; /* Espacement entre l'icône et le titre */
}

.badge {
  position: absolute;
  background-color: red;
  color: white;
  padding: 2px 5px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  top: -5px; /* Positionnement au-dessus de l'icône */
  right: -5px; /* Positionnement à droite de l'icône */
}

.language-container {
  position: relative;
}

.language-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  padding: 5px;
}
