.header {
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.icon-container {
  position: relative;
  margin-right: 20px; /* Espacement entre les icônes */
}

.header .cart-icon {
  width: 24px; /* Taille de l'icône du panier */
  height: 24px;
  cursor: pointer;
}

.header .mail-icon {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  top: 3px; /* Positionnement spécifique pour l'icône de mail */
}

.header .profile-icon {
  width: 30px; /* Taille de l'image de profil */
  height: 30px;
  cursor: pointer;
  border-radius: 50%; /* Pour une image de profil ronde */
}

.badge {
  position: absolute;
  background-color: red;
  color: white;
  padding: 2px 5px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}

.mail-badge {
  top: -5px; /* Ajustement du badge de mail */
  right: -10px; /* Ajustement du badge de mail */
}

.cart-badge {
  top: -5px; /* Ajustement du badge du panier */
  right: -5px; /* Ajustement du badge du panier */
}

.header .dropdown {
  position: absolute;
  top: 100%;
  right: 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 4px;
  display: none;
  flex-direction: column;
}

.header .dropdown a {
  padding: 10px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #ddd;
}

.header .dropdown a:hover {
  background-color: #f4f4f4;
}

.header .dropdown.show {
  display: flex;
}
