.header {
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.icon-container {
  position: relative;
  margin-right: 20px;
}

.header .cart-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.header .mail-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  top: 3px;
}

.header .profile-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
}

.badge {
  position: absolute;
  background-color: red;
  color: white;
  padding: 2px 5px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}

.mail-badge {
  top: -5px;
  right: -10px;
}

.cart-badge {
  top: -5px;
  right: -5px;
}

.header .dropdown {
  position: absolute;
  top: 100%;
  right: 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 4px;
  display: none;
  flex-direction: column;
}

.header .dropdown a {
  padding: 10px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #ddd;
}

.header .dropdown a:hover {
  background-color: #f4f4f4;
}

.header .dropdown.show {
  display: flex;
}

/* Language dropdown styling */
.language-container {
  position: relative;
}

.language-button {
  background-color: #ffffff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  padding: 10px;
  display: flex;
  align-items: center;
}

.language-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
  z-index: 1000;
}

.language-dropdown button {
  background: none;
  color:black;
  border: none;
  padding: 10px 20px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
}

.language-dropdown button:hover {
  background-color: #f4f4f4;
}

.language-dropdown .active {
  font-weight: bold;
  color: #007bff;
}