.header {
  background-color: #ffffff;
  padding: 0 20px; /* Réduire le padding */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between; /* Distribuer les éléments de chaque côté */
  align-items: center; /* Centrer verticalement les éléments */
  width: 100%; /* Prendre toute la largeur de la page */
  height: 60px; /* Fixer une hauteur constante pour le header */
  position: fixed; /* Position fixe pour rester en haut */
  top: 0;
  left: 0;
  z-index: 1000; /* S'assurer que le header est toujours au-dessus du contenu */
  overflow: hidden; /* Empêcher les éléments de dépasser */
}

.logo-container {
  display: flex;
  justify-content: flex-start; /* Alignement à gauche */
  align-items: center;
}

.logo {
  height: 40px; /* Taille réduite du logo */
}

.header-right {
  display: flex;
  margin-right: 25px;
  align-items: center;
  gap: 15px; /* Réduire l'espacement entre les icônes */
}

.icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0; /* Supprimer les marges inutiles */
}

.header .cart-icon,
.header .mail-icon,
.header .profile-icon {
  width: 24px; /* Taille des icônes réduite */
  height: 24px;
  cursor: pointer;
}

.header .profile-icon {
  border-radius: 50%; /* Forme ronde pour l'icône de profil */
}

.badge {
  position: absolute;
  background-color: red;
  color: white;
  padding: 2px 5px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  top: -5px;
  right: -5px;
}

.language-container {
  position: relative;
}

.language-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  padding: 5px;
}
