.menu {
    z-index: 100;
    width: 250px; /* Largeur fixe du menu */
    background-color: #2154a2;
    color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed; /* Menu fixe sur le côté gauche */
    top: 60px; /* Correspond à la hauteur du header */
    bottom: 0; /* Fixe le menu jusqu'en bas de l'écran */
    left: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Ajoute la possibilité de défilement */
   
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1; /* Permet au menu de s'étendre et d'utiliser tout l'espace disponible */
    overflow-y: auto; /* Assure le défilement dans le menu si nécessaire */
    margin-top: 100px;
    
}

.menu ul li {
    position: relative;
    margin-bottom: 15px;
}

.menu ul li a,
.menu-title {
    text-decoration: none;
    color: #ecf0f1;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.menu ul li a.menu-title {
    font-weight: bold; /* Titre du menu principal en gras */
}

.submenu li a {
    font-weight: normal; /* Sous-menus en texte normal */
}

.menu ul li a.active,
.menu ul li a:hover,
.menu-title:hover {
    background-color: #2c3e50;
    font-weight: bold; /* Le titre reste en gras au survol */
}

.arrow {
    margin-left: auto;
    font-size: 0.8em;
}

.submenu {
    list-style: none;
    padding-left: 20px;
}

.icon {
    margin-right: 10px;
}

hr {
    border: none;
    border-top: 1px solid #7f8c8d;
    margin: 15px 0;
}
