.client-profile {
    padding: 20px;
  }
  
  .client-profile h3 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-weight: bold;
    font-size: 24px;
  }
  
  .client-info {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .info-label {
    font-weight: bold;
    margin-right: 5px; /* Espace entre le label et la valeur */
    color: #333;
  }
  
  .info-value {
    font-size: 14px;
    color: #333;
    white-space: pre-line; /* Ajout de cette propriété */
  }
  
  .client-actions {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .close-button {
    background-color: #DCAF26;
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .close-button:hover {
    background-color: #0056b3;
  }
  
  /* Responsivité */
  @media screen and (max-width: 768px) {
    .info-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .info-label,
    .info-value {
      margin-right: 0;
    }
  
    .info-value {
      font-size: 16px;
      margin-top: 5px; /* Espace entre le label et la valeur sur mobile */
    }
  }
  