/* Corps de la page de login */
body {
  font-family: 'Poppins', sans-serif; /* Changement de Arial à Poppins */
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
}

.login-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f6f6f6;
}

.login-page-card {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page-logo {
  width: 175px;
  margin-bottom: 1rem;
}

/* Style pour le titre */
.login-page-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.login-page-input-field {
  width: 100%;
  max-width: 340px;
  padding: 14px;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.login-page-input-field::placeholder {
  color: #999;
}

.login-page-input-field:focus {
  border-color: #0056b3;
  outline: none;
}

/* Bouton "Se connecter" */
.login-page-btn-login {
  width: 100%;
  max-width: 340px;
  padding: 14px;
  background-color: #004080;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem; /* Ajustement de la marge */
}

.login-page-btn-login:hover {
  background-color: #003366;
}

/* Lien "Mot de passe oublié ?" */
.login-page-forgot-password {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 0.95rem;
  color: #0056b3;
  text-decoration: none;
}

.login-page-forgot-password:hover {
  text-decoration: underline;
}

/* Texte "Vous n'avez pas de compte ?" et lien "Créer un compte" */
.login-page-no-account {
  margin-top: 1rem;
  font-size: 0.95rem;
  color: #333;
}

.login-page-create-account-link {
  color: #0056b3;
  text-decoration: none;
  font-weight: bold;
}

.login-page-create-account-link:hover {
  text-decoration: underline;
}
