body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  padding: 10px 15px !important;
  font-size: 14px !important;
}

.primary{
  color: #DCAF26 !important;
}